/* !HTML5 Week polyfill | Jonathan Stipe | https://github.com/jonstipe/week-polyfill */
button.week-datepicker-button:after {
  display: inline-block;
  content: "";
  width: 0;
  height: 0;
  border-style: solid;
  border-width: 0.4em 0.4em 0em 0.4em;
  border-color: black transparent transparent transparent;
  margin: 0em 0em 0.2em 0.7em;
  vertical-align: middle; }

.csstransitions div.week-calendar-dialog.week-closed {
  -moz-transition: opacity 0.4s linear;
  -webkit-transition: opacity 0.4s linear;
  -o-transition: opacity 0.4s linear;
  -ms-transition: opacity 0.4s linear;
  transition: opacity 0.4s linear;
  opacity: 0; }
.csstransitions div.week-calendar-dialog.week-open {
  -moz-transition: opacity 0.4s linear;
  -webkit-transition: opacity 0.4s linear;
  -o-transition: opacity 0.4s linear;
  -ms-transition: opacity 0.4s linear;
  transition: opacity 0.4s linear;
  opacity: 1; }
